<mat-card>
    <mat-card-title>Sube una imagen de evidencia</mat-card-title>
  
    
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="nombre" required/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Primer apellido</mat-label>
      <input matInput [(ngModel)]="PrimerAppellido" required/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Segundo Apellido</mat-label>
      <input matInput [(ngModel)]="SegundoApellido" />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Cliente o Proyecto</mat-label>
      <input matInput [(ngModel)]="cliente" required />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Fecha desde</mat-label>
      <input #fechaDesdeInput matInput [matDatepicker]="pickerDesde" [(ngModel)]="fechaDesde" required/>
      <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
      <mat-datepicker #pickerDesde startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha hasta</mat-label>
      <input #fechaHastaInput matInput [matDatepicker]="pickerHasta" [(ngModel)]="fechaHasta" required/>
      <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
      <mat-datepicker #pickerHasta startView="multi-year"></mat-datepicker>
    </mat-form-field>

    
    <mat-checkbox [(ngModel)]="usarFechaSistema" (change)="onUsarFechaSistemaChange()">
      Usar fecha del mes en curso.
    </mat-checkbox>
  
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
  
    <button
      mat-raised-button
      color="primary"
      (click)="onUpload()"
      [disabled]="!selectedFile || !nombre || !cliente || !fechaDesde || !fechaHasta || loading"
    >
      Enviar
    </button>
  
    <div class="spinner-container" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
    </div>
  
    <div *ngIf="result" class="result">
      <p><strong>Autor:</strong> {{ result.autor }}</p>
      <p><strong>Fecha:</strong> {{ result.fecha }}</p>
      <p><strong>Cliente:</strong> {{ result.cliente }}</p>
    </div>
  </mat-card>
  